@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark:#303030;
  --color-black:#202020;
  --color-white:#eeeeee;
  --color-primary:#ff981b;
  --color-secondary:#ffd664;
  --color-accent:#066eff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--color-dark);
  background: var(--color-black);
}
