@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Press+Start+2P&display=swap');

:root {
  --color-dark:#303030;
  --color-black:#202020;
  --color-white:#eeeeee;
  --color-primary:#ff981b;
  --color-secondary:#ffd664;
  --color-accent:#066eff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Press Start 2P','Darumadrop One', cursive;
  color: var(--color-dark);
  background: var(--color-black);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary); 
  
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary); 
  box-shadow: inset -2px -2px 5px var(--color-primary);
}